<ion-app>
  <ion-header class="app-header">
    <ion-toolbar class="app-toolbar">
      <div class="app-toolbar__inner">
        <div class="app-toolbar__brand">
          <ion-button
            class="app-toolbar__brand-mark"
            fill="clear"
            (click)="navigateTo('/home')"
            aria-label="Zur Startseite"
          >
            <span>PF</span>
          </ion-button>

          <div class="app-toolbar__brand-copy">
            <strong>Pflegedienst</strong>
            <span>{{ canUseAdminMenu ? 'Admin Bereich' : 'Einsatzplanung & Verwaltung' }}</span>
          </div>
        </div>

        <div class="app-toolbar__nav-shell d-none d-lg-flex">
          <div class="app-toolbar__nav d-none d-lg-flex">
            <a
              *ngFor="let item of navigationItems"
              (click)="navigateTo(item.url)"
              [class.app-nav__link--active]="isActive(item.url)"
              class="app-nav__link"
            >
              <ion-icon [name]="item.icon"></ion-icon>
              <span>{{ item.label }}</span>
            </a>
          </div>
        </div>

        <div class="app-toolbar__actions">
          <div class="app-toolbar__menus d-lg-none">
            <ion-button
              *ngIf="canUseAdminMenu"
              class="app-toolbar__menu-trigger"
              fill="clear"
              (click)="openMenu('app-navigation')"
              aria-label="Hauptnavigation öffnen"
            >
              <ion-icon slot="icon-only" name="home-outline"></ion-icon>
            </ion-button>

            <ion-button
              class="app-toolbar__menu-trigger"
              [class.app-toolbar__menu-trigger--admin]="canUseAdminMenu"
              fill="clear"
              (click)="openMenu(canUseAdminMenu ? 'admin-navigation' : 'app-navigation')"
              [attr.aria-label]="canUseAdminMenu ? 'Admin-Navigation öffnen' : 'Navigation öffnen'"
            >
              <ion-icon slot="icon-only" [name]="canUseAdminMenu ? 'apps-outline' : 'menu-outline'"></ion-icon>
            </ion-button>
          </div>

          <div class="app-toolbar__route-chip d-none d-lg-inline-flex" *ngIf="canUseAdminMenu">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
            <span>Admin</span>
          </div>

          <app-profile-button [user]="user"></app-profile-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-menu menuId="app-navigation" contentId="main-content" class="d-lg-none app-menu">
    <ion-header class="app-menu__header">
      <ion-toolbar>
        <div class="app-menu__brand">
          <div class="app-menu__mark">PF</div>
          <div>
            <strong>Pflegedienst</strong>
            <p>{{ canUseAdminMenu ? 'Admin Navigation' : 'Schnellzugriff' }}</p>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content class="app-menu__content">
      <div class="app-menu__intro" *ngIf="user">
        <span class="app-menu__eyebrow">Angemeldet</span>
        <strong>{{ user.name || user.email }}</strong>
        <p>{{ canUseAdminMenu ? 'Direkter Zugriff auf App- und Admin-Navigation.' : 'Schneller Zugriff auf die wichtigsten Bereiche.' }}</p>
      </div>

      <ion-list lines="none" class="app-menu__list">
        <ion-menu-toggle auto-hide="false" *ngFor="let item of navigationItems">
          <ion-item class="app-mobile-menu__item" (click)="navigateTo(item.url)">
            <ion-icon class="app-mobile-menu__icon" slot="start" [name]="item.icon"></ion-icon>
            <ion-label class="app-mobile-menu__label">{{ item.label }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
